* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #191816;
}

nav {
    height: 32px;
    width: 100%;
    background-color: #191816;
    display: inline-flex;
    position: fixed;
    z-index: 200;
    align-items:center;
}

.nav-bar {
    
    display: inline-flex;
    align-items:center;
}

.nav-item {
    margin: 0 10px;
    display:flex;
    align-items:center;
    flex-direction: column;
}

.nav-bar img{
    height: 74px;
    margin-top: 40px;
}

.nav-item button {
    display: none;
    border: none;
    border-radius: 20px;
    background-color: #191816;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 30px;
    height: 30px;
}

.nav-item button:hover {
    background-color: #151413;
}

.nav-item button svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    color: #FA9C11;
}

.menu-on {
    display:flex;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    flex-direction: row-reverse;
}

#menu {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin: 0 auto; 
    text-align: center;
    width: 400px; 
    border-radius: 5px;
    gap: 1rem;
}

#menu li {
    padding: 10px;
    box-shadow: #191816;
}

#menu a {
    text-decoration: none;
    color: rgb(250, 248, 215);
}

@media screen and (max-width: 480px) {
    #menu{
        display:none;
    }

    nav {
        flex-direction: column;
        
    }

    .nav-item button {
        display: inline;
    }

    #menu li {
        font-size: 15px;
    }

    .menu-off  {
        display: inline-flex !important;
        flex-direction: column;
    }
}

h1 {
    font-family:'IM Fell English', serif;
    color: rgb(250, 248, 215);
    font-size: 20px;
    margin: 0; 
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    h1 {
        font-family:'IM Fell English', serif;
        color: rgb(250, 248, 215);
        font-size: 10px;
        margin: 0; 
        text-transform: uppercase;
        max-width: 120px;
    }
}
/*---------------------SECCION-00---------------------------*/
.seccion00 {
    display: flex;
    align-items: center;
    font-family:'IM Fell English', serif;
    flex-direction: column;
    border: none;
    position: relative;
    width: 100%;
    height: 100vh; /* 100% del alto de la ventana */
    overflow: hidden;
    justify-content: flex-end;
}

#videoFondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Coloca el video detrás de los demás elementos */
}

.seccion00-link01{
    font-size: 12px;
    border: 2px solid #FA9C11;
    border-radius: 5px ;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    z-index: 100;
    margin: 10px 0;
    background-color: rgba(59, 52, 33, 0.5);
}
.seccion00-link01 a{
    font-size: 8px;
    text-transform: uppercase;
}

.seccion00-link02 a{
    font-size: 8px;
    text-transform: uppercase;
}

.seccion00-link01:hover{
    background-color: rgba(25, 22, 15, 0.5);
    color: #FA9C11;
}

.seccion00-link02{
    font-size: 12px;
    background-color: #170F11;
    color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    z-index: 100;
}

.seccion00-link02:hover{
    background-color: #29161b;
}

.contenido-posterior {
    /* Estilos para el contenido que viene después del video */
    background: #fff; /* Cambia el fondo según tus preferencias */
    color: #000; /* Cambia el color de texto según tus preferencias */
    padding: 20px;
}







/*---------------------SECCION-01---------------------------*/

.seccion01 {
    display: flex;
    align-items: center;
    font-family:'IM Fell English', serif;
    flex-direction: column;
    border: none;
    background-image: url(/img/seccion1/3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /* Esto hace que el fondo se mantenga fijo */
}


.seccion01-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.seccion01-fecha{
    margin-top: 100px;
}

.seccion01-h3_fecha{
    font-size: 12px;
    padding-bottom: 2px;
    color: rgb(227, 220, 199);
    z-index: 100;
}

.seccion01-h3_lugar {
    margin-bottom: 30px;
    margin-right:7px ;
    font-size: 12px;
    padding-bottom: 2px;
    color: rgb(227, 220, 199);
    text-transform: uppercase;
    z-index: 100;
}

.filtro-BN{
    position: relative;
    z-index: 1;
    backdrop-filter: grayscale(100%); 
    border: 1px sold rgba (255,255,255,0.5);
    animation: animate 5s ease-in-out infinite;   
}
    
.seccion01-item h2 {
    font-size: 25px;
    padding: 10px 0px 0px 0px;
    color: #FA9C11;
    text-transform: uppercase;
    text-align: center;
    max-width: 340px;
}

@media screen and (max-width: 768px) {
    .seccion01-item h2 {
        font-size: 35px ;
        max-width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .seccion01-item h2 {
        font-size: 20px ;
        max-width: 100%;
    }
}
.seccion01-item a {
    text-decoration: none;
    color: rgb(227, 220, 199);
    text-transform: uppercase;
}


.seccion01-h3_informacionFecha{
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    margin-bottom: 100px;
    

}
@media screen and (max-width: 500px) {
    .seccion01-h3_informacionFecha{
        font-size: 7px ;
        max-width: 100%;
    }
}

/*-------------------------SECCION-02--------------------------------------*/

.seccion02{
    background-image: url(/img/seccion2/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding-top: 10px;
}


.seccion02-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    font-family: 'IM Fell English', serif;
    position: relative;
    padding: 20px;
}
.Contenedor-entrada {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    font-family: 'IM Fell English', serif;
    position: relative;
    padding: 20px; 
}

.select {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}


.select-container {
    /* Estilos de fondo y texto */
    background-color: rgba(59, 52, 33, 0.5);
    color: #FA9C11;
    font-family: 'IM Fell English', serif;
    border: 2px solid #FA9C11;
    border-radius: 5px;
    font-size: 10px;
    width: 100px;
    cursor: pointer;
}

.select-container option {
    background-color: #000000;
    color: #FA9C11;
}

.seccion02-entrada {
    border: 2px solid #FA9C11;
    border-radius: 10px;
    display: flex;
    min-width: 180px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.seccion02-entrada:hover{
    background-color: rgba(59, 52, 33, 0.5);
}

.fecha, .mes, .hora, .lugar, .direccion {
    margin: 0;
    padding: 0;
    flex-direction: column;
    color: #FA9C11;
}

.fecha{
    font-size: 36px;
}

.mes{
    font-size: 10px;
    margin-top: -5px;
}

.lugar {
    font-size: 16px;
    text-transform: uppercase;
}

.direccion {
    font-size:10px;
}

.hora{
    font-size: 16px;
    margin-top: 7px;
}

.entrada-izq{
    display: flex;
    padding: 5px;
    flex-direction: column;
}

.linea {
    width: 1px;
    height: 80%;
    background-color: #FA9C11;
    margin: 0 auto;
}

.entrada-der {
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
}


a {
    text-decoration: none;
    color:antiquewhite ;
    font-weight: bold;
    font-size: 10px;
    transition: color 0.3s;
}

a:hover {
    color: #FF6600;
}

@media screen and (max-width: 768px) {
    .seccion02 {
        grid-template-columns: 1fr; /* Cambia a una sola columna */
        
    }
    
    
}



/*--------------------SECCION-03----------------------------------------*/

.seccion03 {
    margin-top: 53px;
    padding: 28px;
    color:rgb(165, 148, 126);
    font-family: 'IM Fell English', serif;
    font-size: 12px;
}

/*--<!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">>
<!--css-->*/